*{
    margin: 0;
    padding: 0;
}
.orange{
    color:#A80139
}
.full-screen-preview {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Start Navbar  */
nav{
    background-color: #fff;
    
}
.navbar-light .navbar-nav .nav-link{
    color:#000;
    padding-left:10px;
    padding-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#3e8e41
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu .dropdown-item a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu .dropdown-item a:hover {background-color: #ddd;}
.dropdown-menu:hover .dropdown-menu .dropdown-item {display: block;}
.dropdown-menu:hover .dropdown a {background-color: #3e8e41;}
.navbar .logo img{
    position: absolute;
    width:120px;
    top:0px;
    box-shadow: 5px 0 10px rgb(0 0 0 / 7%);
    z-index: 1;
    
}
@media (max-width:767px){
    .navbar .logo img{
        max-width:70px;
    }
}
@media (max-width:991px){
    .navbar{
        padding-bottom: 0;
    }
    .navbar .logo img{
        max-width:80px;
    }
    .navbar .navbar-collapse{
        margin-top:5px;
        padding-top:20px;
        background-color: #3e8e41;
        width:100%;
        color:#fff
    }
    .navbar-light .navbar-nav .nav-link{
        color: #fff;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: #000;
    }
    .navbar-light .navbar-nav .navbar-item:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
    .navbar-light .btn{
        display: none;
    }
}
.navbar .navbar-nav li a{
    color: #102039;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.navbar-toggler{
    color:#fff;
    background-color: #A80139;
}
.btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    padding: 14px 40px;
    background-color: #A80139;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-radius: 5px;
    margin-left:10px
}
.btn:hover{
    background-color: #126d63;
    color:#fff;
}
/* End Navbar  */

/* Start Landing  */
.landing{
    position: relative;
    padding-block:120px;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    width:100%;
}
@media (max-width:767px){
    .landing{
        padding:60px 0
    }
}
.landing .landing-content h1{
    color: #3e8e41;
    font-size: 24px;
}
.landing .landing-content h2{font-size: 48px;}
.landing .landing-content p{font-size: 16px;}
@media (max-width:991px){.landing .landing-content h2{font-size: 42px;}}
@media (max-width:767px){
    .landing .landing-content{
        display: block;
    }
    .landing .landing-content h2{font-size: 36px;}
}
.landing .landing-img{
    position: relative;
    margin:0 auto;
}
.landing .landing-img img{
    width:100%;
    display: block;
}
@media (max-width:767px){
    .landing .landing-img img{
        width:350px;
        margin-top:20px
    }
}
/* End Landing  */

/* Start popular */
.popular{
    height: auto;
    padding: 100px 0;
}
.popular .Categories {
    margin-top: 50px;
}
.popular .Categories .box{
    position: relative;
    width:300px;
    margin:20px auto;
    text-align: center;
    text-transform: capitalize;
    padding: 40px 20px;
    border: 1px solid #126d63;
    border-radius: 5px;
    margin-bottom: 50px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.popular .Categories .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: -1;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}
.popular .Categories .box img{
    width: auto;
    margin: auto;
    padding: 10px;
    background-color: rgba(18, 109, 99, 0.3);
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.popular .Categories .box p{
    font-style: italic;
    font-weight: 500;
}
.popular .Categories .box:hover{
    background-color: #A80139;
    border:#fff
} 
.popular .Categories .box:hover img{
    background-color: #efc6b0;
    border:#fff
}
/* End popular */

/* Start Flow  */
.flow{
    position: relative;
    padding: 50px 0;
    height:50vh;
    background-image: url(../images/teaching-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.flow::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.flow .flow-img{
    position: absolute;
    bottom:0;
}
@media (max-width:991px){
    .flow .flow-img{
        display: none;
    }
}
.flow .content{
    position: absolute;
    display: block;
    color: #fff;
    margin: 100px 0;
}
/* End Flow  */

/* Start About  */
.about .about-content h3{
    color: #A80139;
    font-size: 20px;
    margin-top: 10px;
    padding-block: 20px;
}
.about .about-content h4{
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 42px;
    padding-bottom:25px ;
}
.about .about-content ul{
    padding:0;
    font-size:18px
}
.about .about-content ul li {
    margin-bottom: 10px;
}
.about .about-content ul li svg{
    padding-right:8px;
    align-items: center;
    color: #126d63;
}
.about .gallary{
    margin-top: 80px;
}
.about .gallary img{
    width: 85%;
    height: auto;
    display: block;
    margin-bottom:20px;
    margin-inline:auto
}
.about .gallary .image-1,
.about .gallary .image-3{
    position: relative;
    max-width:250px
}
.about .gallary .image-2,
.about .gallary .image-4{
    position: relative;
    top: 80px;
    max-width:250px
}
@media (max-width:767px){
    .about .gallary .image-2,
    .about .gallary .image-4{
        top:0;
    }
}
/* End About  */

/* Start Courses  */
.courses{
    background-color: #fffcf3;
}
.courses .section-title h2{
    color: #102039;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 0;
    font-size:42px
}
.courses .card{
    padding:0;
    position: relative;
    background-color: #fffcf3;
    margin:0 10px 20px 10px
}
.courses .card:hover .course-title,
.courses .card:hover .course-title:before{
    background-color:#A80139;
    color:#fff
}
.courses .card:hover .card-text{
    color:#A80139
}
.courses .card:hover{
    background-color: #fff;
}
.courses .card .card-image{
    width:100%;
    height:100%;
    overflow: hidden;
}  
.courses .card img{
    width:100%;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;

}
.courses .card:hover img{
    transform: scale(1.1) rotate(5deg);
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
}
.courses .card .course-title{
    color: #ffffff;
    background-color: #126d63;
    padding: 10px 20px;
    width:fit-content;
    border-radius: 2px;
    text-transform: capitalize;
    top: -30px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    z-index: 1;
    margin-left:20px
}
.courses .card .course-title:before{
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #126d63;
    border-radius: 2px;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    z-index: -1;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.courses .card .card-text{
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.courses .card .card-body .stars{
    color:#fed619;
    font-size:14px
}
.courses .card .card-body .cost .price{
    color: #ffffff;
    background-color: #126d63;
    padding: 10px 20px;
    width:fit-content;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* End Courses  */
/* Start Courses Page */
.course-landing{
    display: flex;
    padding: 100px 0;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
.course-landing .content{
    margin:auto 
}

/* End Courses Page */